{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
      {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'stylesheet/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/style.css' %}">
    {% endblock %}
  </head>
  <body>
    <!-- HEADER -->
    <header class="sticky-shrinknav-header">
        <h1 align="center" class="sticky-shrinknav-header-title ">
          <img src="{{ MEDIA_URL}}logo.png" alt="">
        </h1>
        <ul class="menu align-center sticky-shrinknav-menu">
          <li><a href="{% url 'index'%}">Home</a></li>
          <li><a href="{% url 'products'%}">Shop</a></li>
          <li><a href="{% url 'contact'%}">Contact</a></li>
        </ul>
      </header>
      {%block content%}



    {% endblock %}

    <footer class="footer-nav row expanded" style="max-width: none;">
      <div class="footer-nav-center">
        <p class="footer-copyright"> 2019, CS50xni-Y18C1</p>
      </div>
    </footer>
    <script src="{% static 'javascript/vendor/jquery.js' %}"></script>
    <script src="{% static 'javascript/vendor/foundation.js' %}"></script>
    <script src="{% static 'javascript/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'javascript/vendor/what-input.js' %}"></script>
    <script src="{% static 'javascript/app.js' %}"></script>
  </body>
</html>
