{% extends 'base.html' %}
{% block title%} Shop {% endblock %}
{% block content%}
    <hr>
    <article class="grid-container">
        <div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
                {% for item in product_list %}
                <div class="cell">
                <div class="product-card">
                        <div class="product-card-thumbnail">
                          <img src="{{item.get_image_url}}"/>
                        </div>
                        <h2 class="product-card-title"><a href="{{ item.get_absolute_url}}">{{ item.title}}</a></h2>
                        {% if item.description%}
                        <span class="product-card-desc"> {{ item.description}} </span>
                        {% endif %}
                        <span class="product-card-price">${{ item.price }}</span>
                        <div class="product-card-colors">
                          <button href="{{ item.get_absolute_url}}" class="button product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                          </div>
                      </div>
                </div>
                {% endfor%}
    </article>
<hr>


{%endblock%}
