{% extends "base.html" %}
{%block title%} INDEX {% endblock%}
{% block content %}

<img src="{{ MEDIA_URL}}slider/slide-1.jpg" alt="">

<hr>
<article class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-3">
        {% for item in product_list %}
        <div class="cell">
            <img class="thumbnail" src="{{ item.get_image_url }}" alt="">
            <h5 class="product-title">{{ item.title}} </h5>
            <p class="product-card-price">${{ item.price}}</p>
            {% if item.description %}
            <p> {{ item.description}}</p>
            {% endif %}
            <a href="{{ item.get_absolute_url }}" class="button expanded">View Product</a>
        </div>

        {% endfor %}
    </div>
    <hr>

    <div class="text-center"><h2>Un poco de historia...</h2></div>
    

    <p>Amigurumi significa "Peluche Tejido", es una técnica que se origina en Japón y como ya sabemos consiste en tejer
        pequeños muñequitos con crochet o como lo llaman en otras partes ganchillo. Generalmente se tejen amigurumis de
        animalitos como ositos, gatitos, perritos y van quedando adorables a medida que uno les va aplicando los
        detalles, también se puede tejer cualquier tipo de forma que uno se pueda imaginar, como plantas, comidas,
        accesorios, etc.
    </p>

    <p>Es súper difícil decir cuál es el primer patrón de amigurumi o los primeros sitios en internet de amigurumis, porque la verdad que existen millones, pero si creo que uno de los amigurumis clásicos es el de Amineko, un gato que se puede tejer de cualquier color y con una expresión bastante particular.
        </p>

    <div class="text-center">
        <img src="{{ MEDIA_URL }}amineko.jpg" alt="">
    </div>
</article>
<hr>



{% endblock %}
